/*To avoid applying padding length to left and right side of the element*/
*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

   



/* header padding 20px on top and bottom 0px on left and reight*/
header{
    padding : 20 0 ;
}


.container{
    /* To align all the images in a row*/
    display :flex;
    /* To wrap the images according to screen size*/
    flex-wrap: wrap;
    /* To display the images in center of the screen*/
    justify-content: center;
}

/* To display image and title as a column with margin*/
figure{
    
    display: flex;
    flex-direction: column;
    margin:0 10px 0 0;
    margin-Top :20px

}
.images{
    border-radius:10px;

    
}

.images:hover{
   
    /* to create shadow on 4 sides with 10px blur and 10px spread */
box-shadow: 0 0 10px 10px #bdbcbc;
/* To apply right and bottom 10px 10px, right and up 10px -10px, up and left -10px -10px, left and bottom -10px 10px* .To this we can add blur, spread and color*/

}

/* To fit the title according to the screen*/
#title{
    max-width:100%;
    border-radius :20px

}
/* applying css effetcs to p tag and hidding to for now*/
p{
    text-align:center;
    background:white;
    font-size :30px;
    display:none
}

/*typography and box model effects to h1 tag*/
h1{
    background :linear-gradient(rgb(189, 92, 18), rgb(163, 121, 121));

    font-size: 40px;
    padding:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    color :rgb(236, 221, 221)
}

h1:hover {
    font-size:50px;
}
/* showing p tag when hover on h1 */
h1:hover + p{
  color: rgb(166, 255, 0);
  font-size: 30px;
  display : block;

}





  #animated_div {
    width: 100px;
    height: 47px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    margin-top:15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    animation-name: example; 
    -webkit-animation-name: example;
    -moz-animation-name: example;
     animation-duration: 2s; 
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index:-1
    
  }
  @keyframes example{
    0%   {background-color:red; left:100px; top:0px;transform: rotate(-20deg);}
    /* 15%  {background-color:yellow; left:0px; top:0px;transform: rotate(-40deg);}
    30%  {background-color:blue; left:0px; top:0;transform: rotate(-80deg);}
    50%{background-color:purple;left:0px;top:0;transform:(rotate(-80deg));}
    70%  {background-color:green; left:0px; top:0px;transform: rotate(-40deg);} */
    100% {background-color:blue; left:0px; top:0px;transform: rotate(20deg);}
  }

