/*To avoid applying padding length to left and right side of the element*/
*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

   



/* header padding 20px on top and bottom 0px on left and reight*/
header{
    padding : 20 0 ;
}


.container{
    /* To align all the images in a row*/
    display :flex;
    /* To wrap the images according to screen size*/
    flex-wrap: wrap;
    /* To display the images in center of the screen*/
    justify-content: center;
}

/* To display image and title as a column with margin*/
figure{
    
    display: flex;
    flex-direction: column;
    margin:0 10px 0 0;
    margin-Top :20px

}
.images{
    border-radius:10px;

    
}

.images:hover{
   
    /* to create shadow on 4 sides with 10px blur and 10px spread */
box-shadow: 0 0 10px 10px #bdbcbc;
/* To apply right and bottom 10px 10px, right and up 10px -10px, up and left -10px -10px, left and bottom -10px 10px* .To this we can add blur, spread and color*/

}

/* To fit the title according to the screen*/
#title{
    max-width:100%;
    border-radius :20px

}
/* applying css effetcs to p tag and hidding to for now*/
p{
    text-align:center;
    background:white;
    font-size :30px;
    display:none
}

/*typography and box model effects to h1 tag*/
h1{
    background :linear-gradient(rgb(189, 92, 18), rgb(163, 121, 121));

    font-size: 40px;
    padding:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    color :rgb(236, 221, 221)
}

h1:hover {
    font-size:50px;
}
/* showing p tag when hover on h1 */
h1:hover + p{
  color: rgb(166, 255, 0);
  font-size: 30px;
  display : block;

}

#welcome{
    background-color: purple;
    padding:20px;
    margin-top:50px;
    border-radius: 30px;
    font-size:50px;
    
    animation-name:example;
    animation-duration:8s;
    position:relative;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
    
    
}

@keyframes example {
    from  {background-color:red; left:0px; top:0px;color:blue;}
    to {background-color:yellow; left:1500px; top:0px;color:pink;}
    /* 50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
  }
  #div{
      position: fixed;
      bottom:10px;
  }
  #animated_div {
    width: 70px;
    height: 47px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    /* margin-top:2opx; */
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
@keyframes animated_div {
0% {
    transform: rotate(
0deg
);
    left: 0px;
}

25% {
    transform: rotate(
20deg
);
    left: 0px;
}
50% {
    transform: rotate(
0deg
);
    left: 500px;
}
55% {
    transform: rotate(
0deg
);
    left: 500px;
}
70% {
    transform: rotate(
0deg
);
    left: 500px;
    background: #1ec7e6;
}
100% {
    transform: rotate(
-360deg
);
    left: 0px;
}
}

